<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="alunos/listar">Alunos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="alunos/listar" >Lista de alunos</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="alunos/adicionar">Adicionar Aluno</a>
      </li>
  
 
    </ul>
  </div>
</nav>


<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Lista de Alunos</a>
   <a class="navbar-brand">Adicionar Aluno</a> 
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <form class="form-inline">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Adicionar</button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Listar</button>
  </form>
</nav> -->

<div class="container">
  <router-outlet></router-outlet>
</div>

